@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* logo header image and nav styling */

body {
    background-color: #E2F3CD;
}

img {
    text-align: center;
}

#logo {
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: Ubuntu, sans-serif;
    font-size: 250%;
    display: inline;
    color: black;
}

.logo-nav a {
    text-decoration: none;
}

.logo-nav {
    background-color: #A9D45E;
    line-height: 70px;
}

#menu {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 140%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
}

#menu li {
    float: right;

}

#menu a {
    color: black;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#header-image {
    background: url('../images/green.webp') no-repeat center center;
    height: 400px;
    width: 98vw;
    background-size: cover;
    transform: scaleX(-1);

}

h2 {
    font-size: 170%;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    padding: 40px;
}


/* whole energy content styling */


#energy-saving-content {
    font-size: large;
    font-family: lato, sans-serif;
    line-height: 25px;
    margin-top: -100px;
}


/*before start content */

.before-start-style {
    text-align: center;
    padding: 0 30px;
    width: 60%;
    justify-content: center;
}

#before-start-image {
    height: 400px;
    width: 80%;
    padding-left: 50px;
    object-fit: cover;
    align-items: flex-end;
}

.before-start-position {
    display: flex;
    margin-top: -50px;
    align-items: center;
}

/* draught-proofing content */

.draught-proofing-position {
    display: flex;
    margin: 0 30px;
    flex-direction: row-reverse;
    align-items: center;
}

.draught-proofing-style {
    text-align: center;
}

#draught-proofing-video {
    width: 100%;
    height: 100%;
    margin: 50px;
}

/* smart use of appiances content */


.appliances-style {
    text-align: center;
    margin: 0 100px;
}

.appliances-position {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}

#appliance-image {
    height: 500px;
    width: 80%;
    margin: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* temperature and controls content */

.controls-style {
    text-align: center;
    margin: 0 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.controls-position {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#controls-image {
    height: 500px;
    width: 80%;
    border-radius: 70% 0 70% 0;
    margin: 100px;
    display: flex;
    object-fit: cover;
}


/* footer styling */

footer {
    height: 55px;
    background-color: rgba(169, 212, 94, 0.9);
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Ubuntu, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
}

.social {
    list-style-type: none;
    margin-left: 50px;
    display: inline-flex;
}

#social li {
    display: inline;
    margin-right: 80px;
}

footer a {
    text-decoration: none;
    color: black;
}

.footer-logo {
    display: inline-flex;
    margin-right: 50px;

}


/* consumption table page style */


.electricity-content {
    text-align: center;
    font-family: Lato, sans-serif;
    margin: -100px 100px 100px 100px;
    line-height: 25px;
}

.below-table {
    margin: 30px 30px 120px 30px;
}

.consumption-table {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#appliances {
    font-family: Lato, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#appliances td,
#appliances th {
    border: 1px solid #ddd;
    padding: 8px;
}

#appliances tr:nth-child(even) {
    background-color: #A9D45E;
}

#appliances tr:nth-child(odd) {
    background-color: #C3E18E;
}

#appliances tr:hover {
    background-color: #EEF6DF;
}

#appliances th {
    padding: 10px;
    text-align: center;
    background-color: #6A9127;
    color: black;
}

/* contact content whole page */

#contact-content {
    text-align: center;
    font-family: Lato, sans-serif;
    margin: -30px 30px 80px 30px;
    line-height: 25px;
    display: flex;
}

#contact-form {
    height: 850px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 212, 94);
    padding: 40px;
    border-radius: 20%;
    align-items: center;
    border: 1px solid #536F1F;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 60px;
    justify-content: flex-start;
}

input[type=text],
input[type=tel],
input[type=email] {
    width: 65%;
    padding: 10px;
    border: 1px solid #536F1F;
}

select {
    width: 68.2%;
    padding: 10px;
    border: 1px solid #536F1F;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #536F1F;
}

input[type=file] {
    width: fit-content;
    padding: 10px;
}

input[type=submit] {
    height: 45px;
    width: fit-content;
    background-color: #3BBA47;
    font-size: 30px;
    border-radius: 30%;
    margin-top: 15px;
    border: 1px solid #536F1F;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: #73D47E;
}

/* form response styling */

#response>h2 {
    font-size: 3rem;
    text-transform: none;
    text-align: center;
}

/* screen size less than 1350px */

@media screen and (max-width: 1350px) {
    .logo-nav {
        height: 80px;
        line-height: 35px;
    }

    #menu {
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-left: 50px;
    }

    .before-start-position {
        display: flex;
        flex-direction: column;
    }

    .before-start-style {
        width: fit-content;
    }

    .draught-proofing-position {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -50px;
    }

    .appliances-position {
        display: flex;
        flex-direction: column;

    }

    .controls-position {
        display: flex;
        flex-direction: column;
    }

    .controls-style {
        width: fit-content;
    }

    #header-image {
        background-size: contain;
    }

    img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }
}

/* screen size style under 1200px */

@media screen and (max-width: 1200px) {
    footer {
        width: fit-content;
        height: 70px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .electricity-content {
        margin: -100px 10px 10px 10px;
    }

    #contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        margin: 0 auto;
        width: fit-content;
        margin-top: -60px;
    }

    .contact-info {
        width: 90%;
        margin: 0;
    }

    #contact-form {
        width: 75%;
        margin-bottom: 120px;
    }
}

/* style for screens smaller than 768px */

@media screen and (max-width: 768px) {
    .logo-nav {
        font-size: 65%;
        width: 100%;
    }

    #header-image {
        height: 20vh;
    }

    #energy-saving-content {
        margin: 15px;
    }

    #before-start-image {
        height: 30vh;
    }

    .appliances-style {
        margin: 0 25px;
    }

    #appliance-image {
        width: 80vw;
        height: 40vh;
        margin: 30px 10px 0 10px;
    }

    .before-start-style {
        margin: 0;
        width: fit-content;
    }


    #draught-proofing-video {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        margin: 40px 10px 10px 10px;
    }

    #draught-proofing-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .controls-position {
        padding: 0;
        margin: 0;
    }
    .electricity-content {
        margin-top: -40px;
    }

    #appliances {
        margin: 0 auto;
    }

    footer {
        width: fit-content;
        height: 70px;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 150%;
    }

    #response>h2 {
        font-size: 1.5rem;
    }

}

/* style for screens smaller than 550px */

@media screen and (max-width: 550px) {

    .logo-nav {
        font-size: 50%;
        width: 100%;
        height: 70px;
        line-height: 10px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    #menu {
        padding-bottom: 5px;
        font-size: 1rem;
    }

    h2 {
        font-size: 120%;
        padding: 30px;
    }

    .electricity-content {
        padding: 0 10px 10px 10px;
        font-size: 0.8rem;
    }

    #energy-saving-content {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
        width: 100%;
        height: 40px;
    }

    #social li {
        margin: 10px;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .social {
        margin: 0px;
    }

    #controls-image {
        border-radius: 20% 0 20% 0;
        object-fit: contain;
        margin: 20px 0 50px 0;
        height: 200px;
        width: 320px;
    }

    #appliances {
        line-height: 15px;
        width: fit-content;
    }

    select {
        width: 70%;
    }
}

/* style for screens smaller than 430px */

@media screen and (max-width:430px) {

    .logo-nav {
        font-size: 0.4rem;
        width: 100vw;
        height: 50px;
    }

    #menu {
        margin-left: 10px;
        font-size: 0.8rem;
    }
#contact-content {
    margin-top: 0;
}
    #contact-form {
        width: 50%;
    }

    .contact-info {
        width: 70%;
    }

    #header-image {
        height: 15vh;
    }

    #appliances {
        font-size: 0.6rem;
    }
}

@media screen and (max-width:350px) {
    .logo-nav {
        width: 400px;
    }
    }
}