@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* logo header image and nav styling */

#logo {
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: Ubuntu, sans-serif;
    font-size: 250%;
    display: inline;
    color: white;
    text-decoration: none;
}

.logo {
    background-color: #A9D45E;
}

#menu {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 120%;
    top: 0;
    right: 0;
    position: absolute;
}

#menu li {
    float: right;

}

#menu a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

#logo,
#menu {
    line-height: 70px;
}

#header-image {
    background: url('../images/green.png') no-repeat center center;
    height: 400px;
    width: 100%;
    background-size: cover;

}

h2 {
    font-size: 170%;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    padding: 40px;
}


/* whole content styling */


#energy-saving-content {
    font-size: large;
    font-family: Ubuntu, sans-serif;
    line-height: 25px;
}


/*before start content */

.before-start-style {
    text-align: center;
    margin: 30px;
}

#before-start-image {
    background: url('../images/greenbulb.png') no-repeat center center;
    height: 500px;
    width: 100%;
    margin: 50px;
}

.before-start-position {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

/* drought-proofing content */

.drought-proofing-position {
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    align-items: center;
}

.drought-proofing-style {
    text-align: center;
    margin-right: 50px;
}

#drought-proofing-video {
    width: 100%;
    height: 100%;
    margin: 200px 100px 100px 100px;
}

/* smart use of appiances content */


.appliances-style {
    text-align: center;
    margin: 30px;
}

.appliances-position {
    display: flex;
    margin: 30px;
    align-items: center;
}

#appliance-image {
    background: url('../images/applianceimage.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    margin: 100px;
    border-radius: 30%;
}

/* temperature and controls content */

.controls-style {
    text-align: center;
    margin: 50px;
    width: 80%;
}

.controls-position {
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    align-items: center;
}

#controls-image {
    background: url('../images/beforestart.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    border-radius: 70% 0 70% 0;
    margin: 150px 100px;
}


/* footer styling */

footer {
    height: 55px;
    background-color: rgba(169, 212, 94, 0.9);
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Ubuntu, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.social {
    list-style-type: none;
    margin-left: 50px;
    display: inline-flex;
}

.footer-logo a {
    text-decoration: none;
}

#social li {
    display: inline;
    margin-right: 80px;
    text-decoration: none;
}

.social a {
    text-decoration: none;
}

.footer-logo {
    display: inline-flex;
    margin-right: 50px;

}


/* table page style */


.electricity-content {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    margin: 100px;
    line-height: 25px;
}

.below-table {
    margin: 100px;
}

.consumption-table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

#appliances {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#appliances td,
#appliances th {
    border: 1px solid #ddd;
    padding: 8px;
}

#appliances tr:nth-child(even) {
    background-color: #A9D45E;
}

#appliances tr:nth-child(odd) {
    background-color: #C3E18E;
}

#appliances tr:hover {
    background-color: #EEF6DF;
}

#appliances th {
    padding: 10px;
    text-align: center;
    background-color: #6A9127;
    color: white;
}

/* contact content whole page */

#contact-content {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    margin: 30px 30px 80px 30px;
    line-height: 25px;
    display: flex;
}

#contact-form {
    height: 750px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 212, 94);
    padding: 40px;
    border-radius: 20%;
    align-items: center;
    border: 1px solid #536F1F;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 60px;
    justify-content: flex-start;
}

input[type=text],
input[type=tel],
input[type=email],
select {
    width: 65%;
    padding: 10px;
    border: 1px solid #536F1F;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #536F1F;
}

input[type=file] {
    width: fit-content;
    padding: 10px;
    border: 1px solid #536F1F;
}

input[type=submit] {
    height: 45px;
    width: fit-content;
    background-color: #3BBA47;
    font-size: 30px;
    border-radius: 30%;
    margin-top: 15px;
    border: 1px solid #536F1F;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: #73D47E;
}

/* screen size less than 1350px */

@media screen and (max-width: 1350px) {
    .logo {
        height: 125px;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        position: relative;
        flex-direction: row-reverse;
        margin-left: 50px;
    }
    .before-start-position {
        display: flex;
        flex-direction: column;
    }
    .drought-proofing-position {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .appliances-position {
        display: flex;
        flex-direction: column;
    }

    .controls-position {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

    #header-image {
        background-size: contain;
    }
}